<!DOCTYPE html>
<html>
<head>
  <title>Remove student from file</title>
</head>
<body>
<h1>Remove student</h1>
<p>Remove student</p>
<footer><p>- Click <a href="/">here</a> to return to home page.</p></footer>
</body>
</html>