<!DOCTYPE html>
<html>
<head>
  <title>Look up a student</title>
</head>
<body>
<p>** Lets look up a student with a query parameter in the link after name like this ?name=Jennifer Gilbert **</p>
<p><% response = ""
    @student.each do |student|
    response << "The students age with the name #{@n} is #{student['age']} years old.<br>"
    end %> <%= response %></p>
    <footer><p>- Click <a href="/">here</a> to return to home page.</p></footer>

</body>
</html>